In [64]:
from selenium.webdriver.common.by import By
from selenium import webdriver
from bs4 import BeautifulSoup
import os
import time
import urllib
import pandas as pd

DRIVER_PATH = './chromedriver.exe'
BASE_URL = 'https://map.naver.com/v5/search/'

def openTargetBrowser(keyword):
    
    # 키워드를 URL 형식으로 변환
    encText = urllib.parse.quote(keyword)
    url = BASE_URL + encText
    
    # selenium 브라우저로 해당 URL 접속
    browser = webdriver.Chrome(DRIVER_PATH)
    time.sleep(2)
    browser.get(url)

    # 필요한 정보가 있는 iframe 페이지에 name 속성명을 통한 접근
    browser.switch_to.frame('searchIframe')
    time.sleep(2)
    
    return browser

def scrollingPage(browser):
    # 스크롤을 하면 추가되는 <li> 항목을 모두 가져오기 위한 div 스크롤 조작
    container = browser.find_element('id','_pcmap_list_scroll_container')
    init = 3000
    
    for i in range(3):
        init += i*1000
        browser.execute_script(f"arguments[0].scrollBy(0, {init})", container)                                
        time.sleep(2)
        
    return browser

def splitData(kind, info):
    kindInfo = {'blog':'블로그리뷰','visit':'방문자리뷰'}
    # 블로그리뷰 를 기준으로 split한 리스트의 길이가 1이면
    # 블로그리뷰에 대한 정보가 없는 것이므로 0을 저장
    if len(info.split( kindInfo[kind] ))== 1:
        return None, info
    else:
        info = info.split( kindInfo[kind] )
        num = int(info[-1].replace(',',''))
        
        # split된 텍스트 중 나머지 정보가 담긴 텍스트로 이동
        return num, info[0]

def splitReviewNum(info):
    if info:
        info = info.text
        
        blogNum, nextInfo = splitData("blog", info)
        visitNum, usedInfo = splitData("visit", nextInfo)
    else:
        blogNum = None
        visitNum = None
        
    return visitNum, blogNum

def isLastPage(browser):
    # 이전 페이지, 5개의 페이지 번호, 다음 페이지 버튼으로 구성된
    # 7개의 <a> 태그 중 다음 페이지 버튼인 마지막 <a> 태그 선택
    nextBtn = browser.find_elements(By.CSS_SELECTOR,'div._2ky45 a')[-1]

    # 해당 버튼의 class명 확인
    btnClass = nextBtn.get_attribute("class")
    print(btnClass)

    # 클래스명이 "_2bgjK "이면 (공백 포함 주의 !!)
    # 마지막 페이지가 아니므로 다음 페이지로 이동
    if btnClass == "_2bgjK ":
        print("this is not last page.")
        nextBtn.click()
        time.sleep(2)
        return False

    # class명이 "_2bgjK _34lTS"이면 마지막 페이지이므로 반복문 종료
    else:
        return True

def navigatingPage(browser):
    # 데이터를 담을 리스트와 각 항목에 대한 접근을 확인하기 위한 cnt 변수 생성
    outList = []
    cnt = 0
    
    while True: 
        browser = scrollingPage(browser)
        
        # 스크롤 된 페이지 소스를 bs4 객체로 변환
        htmlStr = browser.page_source
        bs = BeautifulSoup(htmlStr,'html.parser')
        
        targetDiv = bs.select_one('div#_pcmap_list_scroll_container')
        targets = targetDiv.select("li[class='_1EKsQ _12tNp']")
        
        # 페이지당 50개인 <li> 항목을 모두 가져왔는지 확인 
        print(len(targets))

        for t in targets:
            
            # 접근 중인 항목 번호 
            cnt += 1
            print(cnt)
            
            # 점포명
            name = t.select_one('span.place_bluelink').text

            # 별점 (별점이 없으면 None을 저장)
            score = t.select_one('em')
            if score:
                score = float(score.text)
            else:
                score = None
            
            # 썸네일 이미지
            img = t.select_one('div.cb7hz')
            if img:
                img = img['style'].split('"')[1]
            else:
                img = None
            
            # 영업 상태, 별점, 리뷰 등이 담겨있는 div 태그 텍스트
            containerInfo = t.select_one('div._17H46')
            visitNum, blogNum = splitReviewNum(containerInfo)
            
            outList.append([name, score, img, visitNum, blogNum])

        # 탐색이 끝난 후 다음 페이지로 이동
        if isLastPage(browser):
            break
            
    return outList

def ratingData(result):
    df = pd.DataFrame(result,columns=['점포명','별점','이미지','방문자 리뷰 수', '블로그 리뷰 수'])

    # 별점이나 방문자 리뷰 수, 블로그 리뷰 수 중 하나라도 결측값이 있는 레코드 삭제
    df = df.dropna(how='any', subset=['별점','방문자 리뷰 수','블로그 리뷰 수'])
    
    # Pandas의 qcut() 함수를 이용해 리뷰 수 분포에 따른 구간 산출
    # 동점이 많은 낮은 구간에서 구간의 중복이 발생하는 것에 대해 rank 함수를 사용한 순위 부여
    # 첫번째 값 (method='first') : 동점 관측치 중에서 데이터 상에서 먼저 나타나는 관측치부터 순위 부여를 부여하는 rank 함수의 옵션
    df['방문자 리뷰 구간'] = pd.qcut(df['방문자 리뷰 수'].rank(method = 'first'),10, labels=False)
    df['블로그 리뷰 구간'] = pd.qcut(df['블로그 리뷰 수'].rank(method = 'first'),10, labels=False)

    display(df.describe())
    
    # 방문자 리뷰와 블로그 리뷰의 중요도에 따른 가중치 부여
    visitWeight = 0.2
    blogWeight = 0.8
    totalScore = df['별점'] + (((df['방문자 리뷰 구간'] + 1) / 10) * visitWeight) + (((df['블로그 리뷰 구간'] + 1) / 10) * blogWeight) + 4
    df['평점'] = round(totalScore, 2)
    
    # 데이터형 정제
    df = df.astype({
        '방문자 리뷰 수' : 'int',
        '블로그 리뷰 수' : 'int',
    })
    
    # 평점 기준 상위 5개 데이터 확인
    display(df.nlargest(5,'평점', keep='first'))
    
    return df

    
def collectFamousStore(kor,eng):
    # 입력받은 지하철역 키워드 생성
    print(kor, eng)
    keyword = kor + "역맛집"
    
    targetBrowser = openTargetBrowser(keyword)
    
    targetList = navigatingPage(targetBrowser)
    
    resultDF = ratingData(targetList)

    # 엑셀에서 한글이 깨지지 않는 'utf-8-sig' 인코딩으로 csv 파일 추출

    resultDF.to_csv(f"{eng}.csv",encoding='utf-8-sig')

if __name__ == "__main__":
    
# 지하철역명 입력 후 collectFamousStore 함수로 전달 
#     collectFamousStore(input())

    # 부산교통공사_도시철도역정보_20211020 파일에서 1호선 역명과, 영문명 추출
    df = pd.read_csv('./부산교통공사_도시철도역정보_20211020.csv', encoding='cp949')
    df = df.loc[df['역코드'] < 200,['역명','영문']]
    df['역명'] = df['역명'].str.replace('역','').str.replace(r"\(.*\)","")
    df['영문'] = df['영문'].str.replace(r"[ .]","")
    
    stationList = df.to_numpy().tolist()  
    dirList = os.listdir()
    
    for kor,eng in stationList:
        # 현재 경로 내에 이미 크롤링한 파일이 있으면 continue
        if (eng + '.csv') in dirList: continue
        collectFamousStore(kor,eng)

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:195: FutureWarning: The default value of regex will change from True to False in a future version.
  df['역명'] = df['역명'].str.replace('역','').str.replace(r"\(.*\)","")
C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:196: FutureWarning: The default value of regex will change from True to False in a future version.
  df['영문'] = df['영문'].str.replace(r"[ .]","")
C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

토성 Toseong
46
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
_2bgjK
this is not last page.
50
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
_2bgjK
this is not last page.
50
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
_2bgjK
this is not last page.
50
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
_2bgjK
this is not last page.
50
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
_2bgjK
this is not last page.
50
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  244.000000   244.000000   244.000000  244.000000  244.000000
mean     4.520902   410.766393   145.377049    4.500000    4.500000
std      0.163289   707.071372   220.402786    2.886751    2.886751
min      4.030000    14.000000     1.000000    0.000000    0.000000
25%      4.430000   122.500000    42.500000    2.000000    2.000000
50%      4.500000   203.500000    94.000000    4.500000    4.500000
75%      4.602500   389.500000   157.000000    7.000000    7.000000
max      5.000000  5657.000000  2001.000000    9.000000    9.000000

        점포명    별점   이미지  방문자 리뷰 수  블로그 리뷰 수  방문자 리뷰 구간  블로그 리뷰 구간    평점
16    여기제주도  4.86  None       434       753          7          9  9.82
167     하이포  4.83  None       530       185          8          8  9.73
31       귀인  4.74  None       326       434          6          9  9.68
13      띠리오  4.69  None       459       485          8          9  9.67
64   보느파티쓰리  4.67  None      1008       428          9          9  9.67

서면 Seomyeon

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  247.000000   247.000000   247.000000  247.000000  247.000000
mean     4.545587   610.651822   444.663968    4.497976    4.497976
std      0.167340   881.603164   395.364487    2.886575    2.886575
min      4.120000    29.000000    11.000000    0.000000    0.000000
25%      4.440000   193.500000   184.500000    2.000000    2.000000
50%      4.530000   376.000000   320.000000    4.000000    4.000000
75%      4.640000   660.500000   573.500000    7.000000    7.000000
max      5.000000  9538.000000  2261.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
97,용이초밥 서면점,4.75,https://search.pstatic.net/common/?autoRotate=...,1689,792,9,8,9.67
45,수라상,5.00,https://search.pstatic.net/common/?autoRotate=...,262,421,3,6,9.64
7,버거샵,4.63,None,618,1144,7,9,9.59
49,기리,4.63,None,623,1297,7,9,9.59
16,버거스올마이티,4.57,None,1477,913,9,9,9.57

부전 Bujeon

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  235.000000   235.000000   235.000000  235.000000  235.000000
mean     4.478723   410.438298   144.123404    4.497872    4.497872
std      0.181734   753.781010   223.368514    2.887306    2.887306
min      3.940000    10.000000     3.000000    0.000000    0.000000
25%      4.360000    82.500000    20.000000    2.000000    2.000000
50%      4.470000   184.000000    67.000000    4.000000    4.000000
75%      4.575000   435.000000   190.500000    7.000000    7.000000
max      5.000000  6571.000000  2163.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
77,송정호 일식,4.84,None,312,412,6,9,9.78
9,동방축산,4.67,https://search.pstatic.net/common/?autoRotate=...,856,553,8,9,9.65
186,미락 샤브샤브 서면점,4.85,https://search.pstatic.net/common/?autoRotate=...,577,213,7,7,9.65
18,서면연탄갈비 서면본점,4.76,https://search.pstatic.net/common/?autoRotate=...,428,242,7,8,9.64
218,쉽커피,4.64,https://search.pstatic.net/common/?autoRotate=...,1369,675,9,9,9.64

양정 Yangjeong

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  212.000000   212.000000   212.000000  212.000000  212.000000
mean     4.474623   256.698113    78.386792    4.500000    4.500000
std      0.174954   384.915124   184.242272    2.898766    2.898766
min      3.920000    12.000000     1.000000    0.000000    0.000000
25%      4.380000    56.750000     8.000000    2.000000    2.000000
50%      4.460000   110.000000    17.000000    4.500000    4.500000
75%      4.560000   277.000000    52.250000    7.000000    7.000000
max      5.000000  2945.000000  1266.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
255,33게이트,4.78,None,247,543,7,9,9.74
243,연의양과,4.73,https://search.pstatic.net/common/?autoRotate=...,421,370,8,9,9.71
260,치히로식당,4.69,None,646,510,9,9,9.69
18,양맥집,4.76,None,268,147,7,8,9.64
6,철계점횟집 양정점,4.73,None,100,456,4,9,9.63

시청 CityHall

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  237.000000   237.000000   237.000000  237.000000  237.000000
mean     4.500464   328.367089    87.240506    4.497890    4.497890
std      0.188516   522.978234   132.601724    2.887179    2.887179
min      3.640000    11.000000     2.000000    0.000000    0.000000
25%      4.400000   101.000000    20.000000    2.000000    2.000000
50%      4.500000   194.000000    44.000000    4.000000    4.000000
75%      4.600000   365.000000    97.000000    7.000000    7.000000
max      5.000000  6306.000000  1110.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
37,오연어,4.86,https://search.pstatic.net/common/?autoRotate=...,190,124,4,8,9.68
63,하이드벗,4.70,https://search.pstatic.net/common/?autoRotate=...,326,237,7,9,9.66
179,스시키라쿠,4.83,None,151,177,4,8,9.65
114,디저트숲,4.81,https://search.pstatic.net/common/?autoRotate=...,56,256,0,9,9.63
79,김해한우뒷고기 본점,4.77,None,204,119,5,8,9.61

연산 Yeonsan

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  247.000000   247.000000   247.000000  247.000000  247.000000
mean     4.526194   467.963563   186.510121    4.497976    4.497976
std      0.191672   685.415750   213.676906    2.886575    2.886575
min      3.640000    23.000000     2.000000    0.000000    0.000000
25%      4.405000   136.500000    60.500000    2.000000    2.000000
50%      4.500000   255.000000   122.000000    4.000000    4.000000
75%      4.655000   478.000000   230.500000    7.000000    7.000000
max      5.000000  6306.000000  2001.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
6,맛고,4.87,None,1453,289,9,8,9.79
47,연산옥,4.82,https://search.pstatic.net/common/?autoRotate=...,567,691,7,9,9.78
58,길 세이로무시 연산점,4.72,None,457,567,7,9,9.68
162,보느파티쓰리,4.67,None,1008,428,9,9,9.67
97,레이지모먼트 커피스탠드,4.79,https://search.pstatic.net/common/?autoRotate=...,322,343,5,8,9.63

교대 BusanNatlUnivEdu

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  237.000000   237.000000   237.000000  237.000000  237.000000
mean     4.489156   353.502110   117.295359    4.497890    4.497890
std      0.165543   562.386784   195.273443    2.887179    2.887179
min      3.910000    13.000000     2.000000    0.000000    0.000000
25%      4.400000    98.000000    20.000000    2.000000    2.000000
50%      4.480000   196.000000    56.000000    4.000000    4.000000
75%      4.570000   334.000000   129.000000    7.000000    7.000000
max      5.000000  4525.000000  2001.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
158,여기제주도,4.86,None,434,753,8,9,9.84
57,귀인,4.74,None,326,434,7,9,9.70
8,보느파티쓰리,4.67,None,1008,428,9,9,9.67
29,스시키라쿠,4.83,https://search.pstatic.net/common/?autoRotate=...,151,177,3,8,9.63
192,고반식당 연산점,4.65,None,507,866,8,9,9.63

동래 Dongnae

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  241.000000   241.000000   241.000000  241.000000  241.000000
mean     4.501162   294.360996    95.734440    4.481328    4.481328
std      0.174865   461.370258   164.760495    2.886871    2.886871
min      3.910000    13.000000     1.000000    0.000000    0.000000
25%      4.400000    90.000000    17.000000    2.000000    2.000000
50%      4.480000   176.000000    46.000000    4.000000    4.000000
75%      4.590000   300.000000   115.000000    7.000000    7.000000
max      5.000000  3778.000000  2001.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
259,고반식당 동래점,4.78,None,771,502,9,9,9.78
131,사생활,4.84,None,723,161,9,8,9.76
95,흥안양꼬치,4.78,https://search.pstatic.net/common/?autoRotate=...,149,296,4,9,9.68
25,동래삼선,5.00,https://search.pstatic.net/common/?autoRotate=...,145,71,4,6,9.66
20,용이초밥 동래점,4.73,None,1466,157,9,8,9.65

명륜 Myeongnyun

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  252.000000   252.000000   252.000000  252.000000  252.000000
mean     4.531071   425.646825   190.341270    4.500000    4.500000
std      0.168140   602.075082   199.257753    2.894561    2.894561
min      4.000000    12.000000     1.000000    0.000000    0.000000
25%      4.430000   133.000000    60.750000    2.000000    2.000000
50%      4.510000   245.500000   122.500000    4.500000    4.500000
75%      4.612500   443.250000   248.250000    7.000000    7.000000
max      5.000000  5547.000000  1729.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
149,브루커피 동래점,4.89,https://search.pstatic.net/common/?autoRotate=...,372,960,6,9,9.83
35,고반식당 동래점,4.78,https://search.pstatic.net/common/?autoRotate=...,771,502,8,9,9.76
76,꽃돼지식당,4.84,None,451,399,7,8,9.72
29,귀인,4.74,https://search.pstatic.net/common/?autoRotate=...,326,434,6,9,9.68
22,원카츠 동래본점,4.63,None,1638,644,9,9,9.63

온천장 Oncheonjang

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  219.000000   219.000000   219.000000  219.000000  219.000000
mean     4.508447   285.543379    91.890411    4.497717    4.497717
std      0.200580   417.251834   167.438245    2.885227    2.885227
min      3.630000    11.000000     1.000000    0.000000    0.000000
25%      4.390000    64.500000     8.000000    2.000000    2.000000
50%      4.490000   159.000000    32.000000    4.000000    4.000000
75%      4.640000   312.000000   110.500000    7.000000    7.000000
max      5.000000  3076.000000  1729.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
77,올어바웃커피바,5.00,None,44,151,1,8,9.76
24,스시심타카이,4.85,None,114,335,3,9,9.73
50,25디셈브리스,4.84,https://search.pstatic.net/common/?autoRotate=...,318,152,7,8,9.72
28,도르샐러드,4.75,https://search.pstatic.net/common/?autoRotate=...,596,202,9,8,9.67
73,스웨터,4.87,None,96,159,3,8,9.67

부산대 PusanNatlUniv

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  232.000000   232.000000   232.000000  232.000000  232.000000
mean     4.538147   295.301724   109.310345    4.500000    4.500000
std      0.162746   428.087688   148.002803    2.896482    2.896482
min      3.920000    12.000000     1.000000    0.000000    0.000000
25%      4.437500    80.000000    19.000000    2.000000    2.000000
50%      4.535000   164.500000    59.000000    4.500000    4.500000
75%      4.640000   330.250000   149.500000    7.000000    7.000000
max      5.000000  3076.000000  1166.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
22,스시심타카이,4.85,https://search.pstatic.net/common/?autoRotate=...,114,335,3,9,9.73
261,도르샐러드,4.75,None,596,202,9,8,9.67
21,오네쉬 요거트&그래놀라 부산대점,4.82,https://search.pstatic.net/common/?autoRotate=...,573,129,9,7,9.66
9,도야지면옥 본점,4.64,https://search.pstatic.net/common/?autoRotate=...,582,365,9,9,9.64
221,칠성돌곱창,4.68,None,312,261,7,9,9.64

장전 Jangjeon

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

              별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  242.00000   242.000000   242.000000  242.000000  242.000000
mean     4.56876   360.028926   162.690083    4.500000    4.500000
std      0.16197   519.409730   174.448720    2.895482    2.895482
min      4.12000    21.000000     4.000000    0.000000    0.000000
25%      4.46000   104.500000    53.000000    2.000000    2.000000
50%      4.55000   215.000000   111.000000    4.500000    4.500000
75%      4.66000   411.750000   194.500000    7.000000    7.000000
max      5.00000  4983.000000  1166.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
32,스시심타카이,4.85,None,114,335,2,8,9.63
14,하나이미 부산대 본점,4.63,None,560,375,8,9,9.61
16,나오리쇼쿠,4.61,None,806,800,9,9,9.61
58,나유타카페,5.00,None,68,142,1,6,9.60
0,톤쇼우,4.59,https://search.pstatic.net/common/?autoRotate=...,2320,1166,9,9,9.59

구서 Guseo

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  239.000000   239.000000   239.000000  239.000000  239.000000
mean     4.498075   254.050209    45.167364    4.497908    4.497908
std      0.205720   344.145839    94.229010    2.884142    2.884142
min      2.500000    10.000000     1.000000    0.000000    0.000000
25%      4.410000    68.000000     8.000000    2.000000    2.000000
50%      4.490000   135.000000    18.000000    4.000000    4.000000
75%      4.590000   287.500000    43.500000    7.000000    7.000000
max      5.000000  2320.000000  1166.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
128,온니케이크,5.00,None,52,340,1,9,9.84
87,카페클로저,4.95,None,45,61,1,8,9.71
54,목구멍 구서점,4.67,None,261,168,7,9,9.63
65,연차랑 구서점,4.95,https://search.pstatic.net/common/?autoRotate=...,45,38,1,7,9.63
36,현풍식당,4.74,https://search.pstatic.net/common/?autoRotate=...,74,136,2,9,9.60

두실 Dusil

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수    블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  232.000000   232.000000  232.000000  232.000000  232.000000
mean     4.485431   270.418103   42.258621    4.500000    4.500000
std      0.206263   464.639172   61.794888    2.896482    2.896482
min      2.500000    12.000000    1.000000    0.000000    0.000000
25%      4.390000    77.750000    6.000000    2.000000    2.000000
50%      4.475000   140.000000   18.500000    4.500000    4.500000
75%      4.580000   286.750000   50.250000    7.000000    7.000000
max      5.000000  5508.000000  397.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
223,온니케이크,5.00,None,52,340,0,9,9.82
69,목구멍 구서점,4.67,None,261,168,7,9,9.63
87,카페클로저,4.95,https://search.pstatic.net/common/?autoRotate=...,45,61,0,7,9.61
18,고기굽는남자 구서점,4.62,None,371,264,8,9,9.60
54,현풍식당,4.74,https://search.pstatic.net/common/?autoRotate=...,74,136,2,9,9.60

남산 Namsan

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수     블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  204.000000   204.000000   204.000000  204.000000  204.000000
mean     4.493873   186.093137    67.004902    4.500000    4.500000
std      0.193282   272.678063   133.777939    2.889594    2.889594
min      3.910000    13.000000     1.000000    0.000000    0.000000
25%      4.407500    50.000000     8.000000    2.000000    2.000000
50%      4.500000    94.500000    24.000000    4.500000    4.500000
75%      4.610000   198.250000    66.000000    7.000000    7.000000
max      5.000000  2067.000000  1009.000000    9.000000    9.000000

       점포명    별점   이미지  방문자 리뷰 수  블로그 리뷰 수  방문자 리뷰 구간  블로그 리뷰 구간    평점
20   더 트럼펫  4.94  None       112       116          5          8  9.78
24   베베케이크  5.00  None        38        95          1          8  9.76
8      텐고쿠  4.66  None       636       283          9          9  9.66
12    넬스커피  4.70  None       213       224          7          9  9.66
22  대쿠이 본점  4.66  None       998      1009          9          9  9.66

범어사 Beomeosa

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
50
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
_2bgjK _34lTS

               별점     방문자 리뷰 수    블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  185.000000   185.000000  185.000000  185.000000  185.000000
mean     4.460216   139.432432   30.524324    4.497297    4.497297
std      0.230569   214.303313   82.165334    2.891375    2.891375
min      3.250000    10.000000    1.000000    0.000000    0.000000
25%      4.360000    37.000000    3.000000    2.000000    2.000000
50%      4.490000    63.000000    7.000000    4.000000    4.000000
75%      4.590000   132.000000   20.000000    7.000000    7.000000
max      5.000000  1600.000000  593.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
42,기장횟집,4.86,None,113,85,7,9,9.82
237,우렁각시와꽃길,4.88,https://search.pstatic.net/common/?autoRotate=...,343,41,8,8,9.78
0,프롬엘키친,4.76,https://search.pstatic.net/common/?autoRotate=...,157,161,7,9,9.72
176,금샘다방,4.68,None,476,593,9,9,9.68
121,축협횟집,4.85,None,326,20,8,7,9.67

노포 Nopo

C:\Users\pnu\AppData\Local\Temp\ipykernel_1880\174677803.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(DRIVER_PATH)

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
_2bgjK
this is not last page.
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
_2bgjK
this is not last page.
50
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
_2bgjK
this is not last page.
50
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
_2bgjK
this is not last page.
50
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
_2bgjK
this is not last page.
12
251
252
253
254
255
256
257
258
259
260
261
262
_2bgjK _34lTS

               별점     방문자 리뷰 수    블로그 리뷰 수   방문자 리뷰 구간   블로그 리뷰 구간
count  130.000000   130.000000  130.000000  130.000000  130.000000
mean     4.449462   188.400000   29.238462    4.500000    4.500000
std      0.202887   238.799829   66.601884    2.883393    2.883393
min      3.790000    10.000000    1.000000    0.000000    0.000000
25%      4.340000    48.500000    2.250000    2.000000    2.000000
50%      4.470000   103.500000    8.000000    4.500000    4.500000
75%      4.580000   212.750000   25.750000    7.000000    7.000000
max      4.900000  1600.000000  593.000000    9.000000    9.000000

,점포명,별점,이미지,방문자 리뷰 수,블로그 리뷰 수,방문자 리뷰 구간,블로그 리뷰 구간,평점
1,우렁각시와꽃길,4.88,https://search.pstatic.net/common/?autoRotate=...,343,41,8,8,9.78
184,프롬엘키친,4.76,None,157,161,6,9,9.70
35,디위드,4.81,None,63,94,3,9,9.69
3,금샘다방,4.68,https://search.pstatic.net/common/?autoRotate=...,476,593,9,9,9.68
6,원조동촌칼국수,4.61,None,548,136,9,9,9.61